.container{
    
    .company{
      color: #0000FF;
      list-style-type: none;
      font-size:  14px;
      padding-top: 5px;
    }

    .title{
      font-size:  20px;
      color:  $brand-primary;
    }
  }


