{% extends "base.html" %}

{%block content %}
<div class="container">
  <div class="table-responsive">
    <table class="listing table table-striped">
      <tr>
        <th class="title">Company</th>
        <th class="category">Category</th>
      </tr>
      {% for object in object_list %}
        <tr>
          <td class="company"><a href="#">
            {{object.service_provider}}
          </a></td>
          <td>
            {{object.service_category}}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>  
</div>
{% endblock %}

